<div class="row-fluid" id="contentwrapper">
    <table class="deviceTable" cellspacing="0" cellpadding="0">
        <thead>
            <tr style="border:0px" id="selectTitle"></tr>
            <tr class="deviceIcon">
                <th class="userAccountHead" width="77%">所有商品</th>
                <th class="powerHead" width="7%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tbpermisson">
            <tr class="deviceContent">
                <td class="userAccount" id="goods"></td>
                <td class="noteEdit">
                    <a href="javascript:show()" id="A1" class="editRole">
                        <img src="/Includes/img/note.png">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="addGoods" style="display:block;">
    <div class="userClose"><a id="closeClick" href="javascript:hide()"><img src="/Includes/img/close.png" /></a></div>
    <div class="userTitle">添加商品</div>
    <div class="userLine">

    </div>
    <input type="hidden" name="roleidhidden" id="roleidhidden" />

    <div class="userButton"><a id="btnsure" href="javascript:void(0)"><img src="/Includes/img/sure.png" /></a><a id="btncancel" href="javascript:hide()"><img src="/Includes/img/cancel.png" /></a></div>
</div>

<script type="text/x-jquery-tmpl" id="titleTemplete">
    <th>
        <h4>选择资讯</h4>
        <select class="NewSelect" name="NewSelect" id="typeSelect" onchange="NewChange()">
            {{if News==null}}
            <option value="-1">选择资讯</option>
            {{/if}}
            {{each News}}
            <option value="{{$value.NewId}}">{{$value.NewTitle}}</option>
            {{/each}}
        </select>
        <span id="_typeSelect" style="color:red"></span>
    </th>
</script>

<script type="text/x-jquery-tmpl" id="goodsTemplete">
    {{each Data}}
    <span class="haveAdmin" gid="{{$value.goodsID}}">{{$value.goodsName}}</span>
    {{/each}}
</script>

<!--<script type="text/x-jquery-tmpl" id="selectgoodsTemp">
    {{if  Data.length==0}}
    <div class="operate-nextBtn mt20">
        <input type="submit" value="添加商品" class="saveBtn" id="btnNext" onclick="loadpage('/html/GoldGuide/GoldGuideGoodsAdd.html')" />
    </div>
    {{/if}}
    {{each Data}}
    {{if $index=0}}
    <h4 style="padding-left:10px">{{$value.secondaryNavigationName}}</h4>
    {{/if}}
    <div style="padding-left:40px" class="goodsdiv"><input type="checkbox" class="boxmodule" value="{{$value.goodsID}}" nvalue="{{$value.goodsName}}"><span class="rolePostion">{{$value.goodsName}}</span></div>
    {{/each}}
</script>-->
<script type="text/javascript">
    $(function () {
        loadlist();
        $("#btnsure").click(function () {
            if ($("#typeSelect").val() == "-1") {
                $("#_typeSelect").text("请先添加资讯")
                return false
            } else {
                $("#_typeSelect").text("")
            };
            var selectgoods = [];
            var goodslist = { Data: [] };
            $(".goodsdiv").find("input").each(function () {
                if (this.checked) {
                    selectgoods.push(this.value);
                    goodslist.Data.push({ goodsID: this.value, goodsName: this.getAttribute("nvalue") });
                }
            });
            $.fspost('/api/News/PushGood', {
                Id: $("#typeSelect").val(),
                GoodsList: selectgoods
            }).success(function (data) {
                if (data) {
                    $('#goods').html(template('goodsTemplete', goodslist));
                }
            });
        });
    });
    function hide() {
        $(".addGoods").css("display", "none");
    };
    function show() {
        $(".addGoods").css("display", "block");
    };
    function loadlist() {
        $.fspost('/api/News/GoodList', {
            PageIndex:0,// $.cookie('pageindex')
            PageSize: 0,
        }).success(function (data) {
            $.cookie('total', data.Total);
            $('#selectTitle').html(template('titleTemplete', data));
            $('#goods').html(template('goodsTemplete', data));
            loadgoodlist();
        });
    }
    function loadgoodlist() {
        $.get("/api/News/GetGoodList", function (data) {
            var htmlstr = "";
            var nextNav = "";
            if (data.Data.length == 0) {
                htmlstr = '<div class="operate-nextBtn mt20"> <input type="submit" value="添加商品" class="saveBtn" id="btnNext" onclick="loadpage(\'/html/GoldGuide/GoldGuideGoodsAdd.html\')" /></div>';
            }
            for (var i = 0; i < data.Data.length; i++) {              
                if (nextNav != data.Data[i].secondaryNavigationName) {
                    htmlstr += '<h4 style="padding-left:10px">' + data.Data[i].secondaryNavigationName + '</h4>';
                    nextNav = data.Data[i].secondaryNavigationName;
                }
                htmlstr += '<div style="padding-left:40px" class="goodsdiv"><input type="checkbox" class="boxmodule" value="' + data.Data[i].goodsID + '" nvalue="' + data.Data[i].goodsName + '"><span class="rolePostion">' + data.Data[i].goodsName + '</span></div>';
            }
            $('.userLine').html(htmlstr);
            bindCheck();
        })
        
    }

    function NewChange() {
        var newId = $("#typeSelect").val();
        $.fspost('/api/News/GoodListById', {
            PageIndex: 0,// $.cookie('pageindex')
            PageSize: 0,
            NewId: $("#typeSelect").val()
        }).success(function (data) {
            $('#goods').html(template('goodsTemplete', data));
            bindCheck();
        });
    };
    function bindCheck() {
        $(".userLine").find("input").each(function () {
            var that = this;
            that.checked = false;
            $(".haveAdmin").each(function () {
                if (this.getAttribute("gid") == that.value) {
                    that.checked = true;
                }
            })
        })
    }
</script>